
/* ======================= ROOT START =======================*/

:root {

    /* ======= GREEN THEME ======= --*/

    --color-primary: #ff7b02;
    --color-primary-variant: #e5a55d;
    --color-bg-1: #000e17;
    --color-bg-2: #001e2d;
    --color-bg-3: #012734; /*Color Body BG*/
    --color-bg-4: #003347;
    --color-light: #85a2b2;
    --color-white: hsl(0, 0%, 90%);

    /* ======= PURPLE THEME ======= --*/

    /* --color-primary: #ff7b02;
    --color-primary-variant: #E5A55D;
    --color-bg-1: #140021;
    --color-bg-2: #1e0032;
    --color-bg-3: #25003e; 
    --color-bg-4: #36005a;
    --color-light: #d0b8e0;
    --color-white: hsl(0, 0%, 90%); */

    --container-width-lg: 88%;
    --container-width-md: 92%;

    --box-shadow-1: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    --box-shadow-2: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    --box-shadow-3: 0 1rem 1rem rgba(0, 0, 0, 0.3);

    --transition: all 400ms ease;
}

/* ======================== ROOT END ======================= */


/* ======================= SELECTION & SCOLLBAR START ======================= */

::selection {
    color: var(--color-bg-3);
    background: var(--color-primary-variant);
}

html::-webkit-scrollbar {width: 1rem;}

html::-webkit-scrollbar-track {background: var(--color-white);}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--color-primary-variant),var(--color-primary));
    width: 100%;
    border-radius: 0.4rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

/* ======================= SELECTION & SCROLLBAR END ======================= */


/* ======================= GENERAL STYLES START =======================*/

body {
    font-family: "Montserrat", sans-serif;
    background: var(--color-bg-3);
    color: var(--color-light);
}

h1, h2 {
    line-height: 1.5;
    font-weight: 400;
    font-family: "Square Peg", cursive;
}

h1 {
    font-size: 3.8rem;
    color: var(--color-white);
}

h2 {
    font-size: 3.5rem;
}

a {
    color: var(--color-light);
    transition: var(--transition);
    font-style: normal;
}

a:hover {
    color: var(--color-primary);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
    max-width: 2160px;
}

img {
    width: 100%;
}

#gallery, #wedding, #art, #children, #family, #animals, #landscape, #testimonial {
    padding-top: 10rem;
}

.gallery__head, 
.children__head,
.art__head,
.wedding__head,
.family__head,
.animals__head,
.landscape__head {
    display: flex;
    justify-content: start;
    margin-left: 8rem;
    gap: 15rem;
}

.gallery__p,
.children__p,
.art__p,
.wedding__p,
.family__p,
.animals__p,
.landscape__p {
    width: 45rem;
    margin-left: 8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.swiper__art,
.swiper__children,
.swiper__wedding,
.swiper__animals {
    display: none;
}

/* ======================= GENERAL STYLES END ======================= */



/* ======================= NAVBAR START ======================= */

nav {
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

/* ===== Nav class on scroll using js ===== */
.window-scrolled {
    background: var(--color-bg-2);
    border-bottom: 0.2rem solid var(--color-bg-3);
    box-shadow: var(--box-shadow-3);
}
/* ===== Nav class on scroll using js ===== */

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* ===== Only need on tablets and phones ===== */
.nav__toggle-btn {
    display: none;
    font-size: 2rem;
    padding: 0.2rem 0.5rem;
    background: transparent;
    cursor: pointer;
    color: var(--color-white);
    border-width: 0;
}
/* ===== Only need on tablets and phones ===== */

.nav__logo {
    width: 15rem;
}

.nav__links {
    display: flex;
    gap: 4rem;
}

.nav__links a:hover {
    border-top: 0.2rem solid var(--color-primary);
}

.nav__social {
    display: flex;
    gap: 1rem;
}

.nav__social a {
    width: 1.8rem;
    height: 1.8rem;
    display: grid;
    place-items: center;
    background: linear-gradient(var(--color-primary-variant),var(--color-primary));
    color: var(--color-bg-4);
    border-radius: 0.5rem;
}

.nav__social a:hover {
    box-shadow: var(--box-shadow-3);
    background: linear-gradient(var(--color-bg-3), var(--color-bg-1));
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}


/* ===== SUBMENU ===== */
.nav__links li ul {
    display: none;
    position: absolute;
    min-width: 10rem;
    height: auto;
    padding: 1rem 0 0 0;
    background: var(--color-bg-2);
    box-shadow: var(--box-shadow-3);
    
}
.nav__links li:hover > ul {display: block;}

.nav__links li ul li {
    padding: 1rem 0 1rem 1rem;
    border-bottom: 0.2rem solid var(--color-bg-4);
}

.nav__links li ul li:hover {
    background: var(--color-bg-4);
    box-shadow: inset 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

/* ======================= NAVBAR END ======================= */


/* ======================= HEADER START ======================= */

header {
    max-width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    /* background: linear-gradient(var(--color-bg-3), var(--color-bg-1)); */
    background-image: url(../1.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    overflow: hidden;
}

.header__container {
    display: grid;
    grid-template-columns: 43% 53%;
    gap: 4%;
    margin-top: 8rem;
    position: relative;
}

.header__head {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.empty {
    height: 3.5rem;
    width: 18rem;
    background: var(--color-bg-2);
    border-radius: calc(3.5rem / 2);
    margin-bottom: 1.4rem;
    box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.3);
    border: 1px solid var(--color-bg-3);
}

.header__tag {
    color: var(--color-primary-variant);
    margin-top: 0.8rem;
}

.header__right p {
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 80%;
}

.header_visit,
.header_contact-me:hover {
    color: var(--color-bg-1);
    font-weight: 500;
    background: linear-gradient(-30deg, var(--color-primary-variant), var(--color-primary),var(--color-primary-variant));
    box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin-right: 2rem;
    border-radius: calc(3rem / 2);
    transition: var(--transition);
}

.header_visit:hover,
.header_contact-me {
    color: var(--color-light);
    background: var(--color-bg-4);
    font-weight: 500;
    padding: 1rem;
    box-shadow: 0 0.5rem 0.5rem rgba(255, 255, 255, 0.1);
    border-radius: calc(3rem / 2);
    transition: var(--transition);
}

.header_contact-me {
    border: 0.1rem solid var(--color-light);
    box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.header_contact-me:hover {
    border: 0.1rem solid var(--color-primary-variant);
    box-shadow: 0 0.5rem 0.5rem rgba(255, 255, 255, 0.1), inset 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.header_visit,
.header_contact-me i {
    margin-left: 0.5rem;
}

.fa-heart {
    color: var(--color-primary-variant);
    animation: myHeart 5s linear infinite;
}

@keyframes myHeart {
    0% {transform: scale(0.8);}
    15% {transform: scale(0.9);}
    25% {transform: scale(0.8);}
    35% {transform: scale(0.9);}
    50% {transform: scale(1);}
    65% {transform: scale(0.9);}
    75% {transform: scale(0.8);}
    85% {transform: scale(0.9);}
    100% {transform: scale(0.8);}
}

/* ====== FRAMES START ====== */

.header__frames {
    position: absolute;
    top: 95vh;
    left: 13rem;
    transition: var(--transition);
}

.header__frame {
    width: 15rem;
    position: absolute;
    top: 1rem;
    border: 0.2rem solid var(--color-white);
    box-shadow: 0 0 4rem rgba(0, 0, 0, 0.3);
    transform: rotate(-10deg);
    transition: var(--transition);
}

.header__frame:nth-child(1) {left: -5rem;}
.header__frame:nth-child(2) {left: calc(-5rem + 8rem);}
.header__frame:nth-child(3) {left: calc(-5rem + (8rem * 2));}
.header__frame:nth-child(4) {left: calc(-5rem + (8rem * 3));}
.header__frame:nth-child(5) {left: calc(-5rem + (8rem * 4));}

.header__frames:hover .header__frame {transform: rotate(0deg);}
.header__frames:hover .header__frame:nth-child(1) {left: -5rem;}
.header__frames:hover .header__frame:nth-child(2) {left: calc(-5rem + 16rem);}
.header__frames:hover .header__frame:nth-child(3) {left: calc(-5rem + (16rem * 2));}
.header__frames:hover .header__frame:nth-child(4) {left: calc(-5rem + (16rem * 3));}
.header__frames:hover .header__frame:nth-child(5) {left: calc(-5rem + (16rem * 4));
}

/* ====== FRAMES END ====== */

/* ======================= HEADER END ======================= */


/* ======================= BUTTON START======================= */

.contact__btn {
    width: 10rem;
    height: 10rem;
    color: var(--color-bg-1);
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: var(--transition);
}

.contact__btn i {
    font-size: 3.5rem;
    position: absolute;
    transform: rotate(315deg);
}

.contact__btn p {
    font-size: 1rem;
    font-weight: 600;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    animation: spinText 30s linear infinite;
}

.contact__btn p span {
    position: absolute;
    transform-origin: 0.3rem 5rem;
}

@keyframes spinText {
    to {transform: rotate(360deg);}
}

/* ======================= BUTTON END ======================= */


/* ======================= ABOUT START ======================= */

#about {
    margin-top: 18rem;
}

.about__container {
    display: grid;
    grid-template-columns: 10rem 26rem auto;
    gap: 3rem;
    position: relative;
}

.about__title {
    position: absolute;
    top: -4rem;
    left: 8rem;
    z-index: 1;
}

.about__btn {
    color: var(--color-primary-variant);
    align-self: end;
}

.about__btn:hover {
    transform: translateY(-1rem);
    color: var(--color-primary);
}

.about__image {
    position: relative;
}

.about__image-bg {
    width: 16rem;
    height: 24rem;
    position: absolute;
    bottom: 0;
    background: var(--color-bg-4);
}

.about__image-lg {
    position: relative;
    bottom: 1rem;
    left: 1rem;
    filter: saturate(0) brightness(0.3);
    transition: 500ms ease;
}

.about__image-sm {
    position: absolute;
    top: 3rem;
    left: 7rem;
    height: 22rem;
    width: 22rem;
    overflow: hidden;
    box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.2);
    transition: 500ms ease;
}

.about__image:hover .about__image-sm {
    opacity: 0;
}

.about__image:hover .about__image-lg {
    filter: saturate(1) brightness(1);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.2);
    border: 1rem solid var(--color-bg-4);
    left: 0;
    bottom: 0;
}

.about__right {
    margin-left: 5rem;
}

.about__right p {
    margin: 0 4rem 1.5rem 0;
}

#about h2 span {
    color: var(--color-primary-variant);
    font-weight: 600;
}

/* ======================= ABOUT END ======================= */


/* ======================= GALLERY START ======================= */

.swiper-wrapper {
    margin-top: 3rem;
    margin-bottom: 10rem;
    height: 25rem;
}

.swiper-slide {
    max-height: 35rem;
}

.swiper-slide img {
    height: 30rem;
    border: 0.7rem solid var(--color-white);
    cursor:grab;
    transition: var(--transition);
    user-select: none;
}

.swiper-slide img:hover {
    filter: sepia(0.8);
    box-shadow: var(--box-shadow-3);
}

.swiper-pagination-bullet {
    background: var(--color-primary);
}

/* ======================= GALLERY END ======================= */


/* ======================= CHILDREN START ======================= */

#children {
    padding-bottom: 8rem;
}


.children__container {
    position: relative;
}

.children__btn {
    position: absolute;
    right: 1.5rem;
    top: 2rem;
}

/* CHILDREN GRID */

.children__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 350px;
    padding: 40px 20px 0px;
    gap: 10px;
}

.children__item {
    overflow: hidden;
    border: 0.4rem solid var(--color-bg-4);

}

.children__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .8s;
}

.children__img:hover {
    transform: scale(1.3);
    opacity: .8;
}

.children__item:nth-child(1) {
    grid-column-start: span 2;
}

.children__item:nth-child(2) {
    grid-row-start: span 2;
}

.children__item:nth-child(9) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
}

.children__item:nth-child(8) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}

.children__item:nth-child(14) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
}

.children__item:nth-child(16) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;
}

/* ======================= CHILDREN END ======================= */


/* ======================= ART START ======================= */

#art {
    background: var(--color-primary-variant);
    border-top: 0.5rem solid var(--color-bg-4);
    border-bottom: 0.5rem solid var(--color-bg-4);
    box-shadow: var(--box-shadow-3);
    padding-bottom: 5rem;
}

.art__head {
    flex-wrap: wrap;
    color: var(--color-bg-4);
}

.art__empty {
    background: var(--color-primary-variant);
    box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.3);
    border: 1px solid var(--color-primary-variant);
}

.art__p {
    color: var(--color-bg-4);
    margin-bottom: 4rem;
}

.art__grid {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.art__grid-big-img {
    width: 50%;
    overflow: hidden;
}
.art__grid-big-img img{
    height: 30rem;
    box-shadow: var(--box-shadow-3);
    transition: all ease .8s;
}

.art__grid-big-img img:hover{
    transform: scale(1.3);
}

.art__thumb {
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    gap: 0.5rem;
    width: 50%;
}

.art__thumb a {
    overflow: hidden;
}

.art__thumb a img {
    width: 9rem;
    height: 7rem;
    box-shadow: var(--box-shadow-3);
    object-fit: cover;
    transition: var(--transition);
}

.art__thumb a img:hover {
    transform: scale(1.1);
}

/* ======================= ART END ======================= */


/* ======================= WEDDING START ======================= */


/*  WEDDING GRID */

.wedding__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 350px;
    padding: 40px 20px 60px;
    gap: 10px;
}

.wedding__item {
    overflow: hidden;
    border: 0.4rem solid var(--color-primary-variant);
    box-shadow: var(--box-shadow-3);
}

.wedding__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .8s;
}

.wedding__img:hover {
    transform: scale(1.3);
    opacity: .8;
}

.wedding__item:nth-child(10) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.wedding__item:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.wedding__item:nth-child(9) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
}

.wedding__item:nth-child(8) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.wedding__item:nth-child(13) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 8;
}

/* ======================= WEDDING END ======================= */


/* ======================= FAMILY START ======================= */

.swiper-wrapper1 {
    margin-top: 3rem;
    margin-bottom: 5rem;
    height: 37rem;
}

.swiper-slide1 {
    max-height: 37rem;
}

.swiper-slide1 img {
    height: 37rem;
    border: 0.7rem solid var(--color-white);
    cursor:grab;
    transition: var(--transition);
    user-select: none;
}

.swiper-slide1 img:hover {
    filter: grayscale(1);
}

.swiper1 .swiper-pagination-bullet {
    background: var(--color-light);
}

.swiper-button-next,
.swiper-button-prev {
    background: rgba(255, 255, 255, 0.2);
    padding: 1.5rem;
    top: 39rem
}

.swiper-button-next i,
.swiper-button-prev i {
    color: var(--color-bg-1);
}

/*  FAMILY GRID */

.family__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 350px;
    padding: 40px 20px 60px;
    gap: 10px;
}

.family__item {
    overflow: hidden;
    border: 0.4rem solid var(--color-primary-variant);
    box-shadow: var(--box-shadow-3);
}

.family__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .8s;
}

.family__img:hover {
    transform: scale(1.3);
    opacity: .8;
}

.family__item:nth-child(10) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.family__item:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.family__item:nth-child(9) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
}

.family__item:nth-child(8) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.family__item:nth-child(13) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 8;
}

/* ======================= FAMILY END ======================= */


/* ======================= ANIMALS START ======================= */

#animals {
    background: var(--color-light);
    border-top: 0.5rem solid var(--color-bg-4);
    border-bottom: 0.5rem solid var(--color-bg-4);
    box-shadow: var(--box-shadow-3);
    padding-bottom: 5rem;
}

.animals__head {
    flex-wrap: wrap;
    color: var(--color-white);
}

.animals__empty {
    background: var(--color-light);
    box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.3);
    border: 1px solid var(--color-light);
}

.animals__p {
    color: var(--color-white);
}



/*  WEDDING GRID */

.animals__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 350px;
    padding: 40px 20px 60px;
    gap: 10px;
}

.animals__item {
    overflow: hidden;
    border: 0.4rem solid var(--color-bg-4);
    box-shadow: var(--box-shadow-3);
}

.animals__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .8s;
}

.animals__img:hover {
    transform: scale(1.3);
    opacity: .8;
}

.animals__item:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.animals__item:nth-child(13) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}



/* ======================= ANIMALS END ======================= */


/* ======================= TESTIMONIAL START ======================= */

#testimonial {
    overflow: hidden;
    padding-top: 6rem;
}

.testimonial__head {
    text-align: center;
    margin-bottom: 4rem;
}

.swiper-testimonial {
    margin-top: 5rem;
    margin-bottom: 4rem;
    height: 15rem;

}

.swiper-slide2 {
    background: var(--color-bg-4);
    background-position: center;
    background-size: cover;
    width: 20rem;
    height: 25rem;
    filter: blur(0.2rem);
}

.swiper__testimonial .swiper-slide-active {
    filter: none;
    border: 0.3rem solid var(--color-primary-variant);
}

.testimonial__box {
    position: relative;
    width: 100%;
    padding: 2.5rem;
    padding-top: 4rem;

}

.testimonial__box .fa-quote-right {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 3rem;
    opacity: 0.2;
}

.testimonial__box .testimonial__box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 2rem;
}

.testimonial__box .testimonial__details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    border: none;
}

.swiper-slide2 .testimonial__img-box {
    position: relative;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.9rem;
}

.swiper-slide2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
}

.swiper-slide2 img:hover {
    filter: sepia(0);
}


  /* ======================= TESTIMONIAL END ======================= */

/* ======================= FORM START ======================= */

.contact {
    position: relative;
    min-height: 100vh;
    padding: 2rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--color-bg-4);
    border-top: 0.2rem solid var(--color-bg-2);
    border-bottom: 0.2rem solid var(--color-bg-2);
    box-shadow: inset 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    padding-bottom: 3rem;
}

.contact .content {
    width: 75%;
    height: auto;
    text-align: center;
    padding: 1.2rem 0 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .content h2 {
    margin: 1.8rem;
    color: var(--color-white);
}

.contact .content h2 i {
    font-size: 2.5rem;
    margin-left: 1rem;
}

.contact .content p {
    font-weight: 300;
    color: var(--color-white);
    font-size: 1.2rem;
}

.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 1.8rem;
    padding: 0 0.6rem;
}

.form-container .contactInfo {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.form-container .contactInfo .box {
    position: relative;
    padding: 1.2rem 0;
    display: flex;
}

.form-container .contactInfo .box .icon {
    min-width: 3.1rem;
    height: 3.1rem;
    background: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.3rem;
}

.form-container .contactInfo .box .text {
    display: flex;
    margin-left: 1.2rem;
    font-size: 1rem;
    color: var(--color-white);
    flex-direction: column;
}

.form-container .contactInfo .box .text h3 {
    color: var(--color-white);
    font-weight: 900;
}

.contactForm {
    width: 50%;
    padding: 1.5rem 2.5rem;
    background: var(--color-white);
    box-shadow: 1rem 1rem 0.5rem rgba(0, 0, 0, 0.4);
}

.contactForm h2 {
    font-size: 2.5rem;
    color: var(--color-bg-2);
    font-weight: 800;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 0.6rem;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 0.4rem 0.3rem;
    font-size: 1rem;
    margin: 0.6rem 0;
    border: none;
    border-bottom: 2px solid var(--color-bg-4);
    outline: none;
    resize: none;
}

.inputBox textarea {
    height: 10rem;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 0.3rem 0;
    font-size: 1rem;
    margin: 0.2rem 0;
    pointer-events: none;
    transition: 0.5s;
    color: var(--color-bg-4);
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
    color: var(--color-bg-2);
    font-size: 0.75rem;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 6.25rem;
    background: var(--color-bg-1);
    color: var(--color-white);
    border: none;
    cursor: pointer;
    padding: 0.6rem;
    font-size: 1.1rem;
    border-radius: 0.6rem;
}

.boton {
    display: block;
    width: 50%;
    height: 3.1rem;
    background-color: #2F855A;
    border: solid 2px var(--color-white);
    color: var(--color-white);
    border-radius: 0.3rem;
    font-weight: 600;
    font-size: 1.1rem;
    box-shadow: var(--box-shadow-2);
    cursor: pointer;
}

.boton:hover {
    background-color: #48bb78;
    border: solid 2px #48bb78;
    transition: .5s;
}

/* ======================= FORM END ======================= */


/* ======================= CREDITS START ======================= */

.credits {
    color: var(--color-white);
    font-size: 1rem;
    padding: 1rem 3rem;
    font-weight: 400;

}

.credits__p a {
    margin-left: 0.5rem;
}

.credits__img {
    width: 1.2rem;
    display: inline;
    margin-left: 0.5rem;
    transition: var(--transition);
}

.credits__img:hover {
    transform: scale(1.8) rotate(720deg);
}

/* ======================= CREDIT END ======================= */



/* ======================= MEDIA QUERYS START ======================= */
    
        /* for Large Devices*/

@media screen and (max-width: 1475px) {
    .swiper__art {
        display: flex;
    }

    .swiper-pagination-art {
        justify-content: center;
    }

    .swiper-pagination-art .swiper-pagination-bullet{
        background: var(--color-bg-4);
    }

    .hidden-in-sd {
        display: none;
    }
}


@media screen and (max-width: 1420px) {
    .header__container {
        grid-template-columns: 35% 60%;
        gap: 2%;
    }
    
    .header__right p {width: 95%;}
}

@media screen and (max-width: 1255px) {
    h1 {font-size: 3.1rem;}
}


        /* for Tablets*/

@media screen and (max-width: 1030px) {
    .container {
        width: var(--container-width-md);
        position: relative;
        }
    
    h1 {font-size: 2.8rem;}
    h2 {font-size: 2.8rem;}

    #gallery, #wedding, #art, #children, #family, #animals {
        padding-top: 6rem;
    }

    /* ======= NAVBAR ======= */

    .nav__social {display: none;}

    .nav__links {
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .nav__links li {
        height: 5rem;
        box-shadow: -3rem 3rem 3rem rgba(0, 0, 0, 0.7);
        animation: navAnimation 600ms ease forwards;
        transform:  rotateX(90deg);
        opacity: 0;
        transform-origin: top;
    }

    .nav__links li:nth-child(2) {animation-delay: 200ms;}
    .nav__links li:nth-child(3) {animation-delay: 400ms;}
    .nav__links li:nth-child(4) {animation-delay: 600ms;}

    @keyframes navAnimation { 
        to {
            transform: rotateX(0);
            opacity: 1;
        }
    }

    .nav__links li a{
        background: var(--color-bg-4);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem 5rem 1rem 3rem;
        border-top: 1px solid var(--color-bg-2);
    }

    .nav__links li:hover > ul,
    .nav__links li a i {
        display: none;
    }

    .nav__toggle-btn {
        display: inline-block;
        
    }

    #nav__toggle-close {display: none;}

    .nav__container {justify-content: space-between;}

    /* ======= HEADER ======= */

    header {
        height: fit-content;
        padding: 8rem 0 12rem;
        display: grid;
        place-items: center;
    }

    .header__container {
        grid-template-columns: 35% 60%;
        gap: 2%;
        margin: 0;
    }

    .header__empty {
        width: 7rem;
    }

    .header__right p {
        width: 95%;
    }

    .header__frame {
        width: 10rem;
        height: auto;
    }
    
    .header__frame:nth-child(1) {left: -9rem;}
    .header__frame:nth-child(2) {left: calc(-9rem + 6rem);}
    .header__frame:nth-child(3) {left: calc(-9rem + (6rem * 2));}
    .header__frame:nth-child(4) {left: calc(-9rem + (6rem * 3));}
    .header__frame:nth-child(5) {left: calc(-9rem + (6rem * 4));}
    
    .header__frames:hover .header__frame {transform: rotate(-10deg);}
    .header__frames:hover .header__frame:nth-child(1) {left: -9rem;}
    .header__frames:hover .header__frame:nth-child(2) {left: calc(-9rem + 6rem);}
    .header__frames:hover .header__frame:nth-child(3) {left: calc(-9rem + 12rem);}
    .header__frames:hover .header__frame:nth-child(4) {left: calc(-9rem + 18rem);}
    .header__frames:hover .header__frame:nth-child(5) {left: calc(-9rem + 24rem);}

    /* ======= ABOUT ======= */
    
    #about {
        margin-top: 10rem;
    }

    .about__container {
        grid-template-columns: 35% 60%;
        gap: 3%;
    }

    .about__title {
        top: -3rem;
        left: 1rem;
    }

    .about__image-bg, .about__image-sm {
        display: none;
    }

    .about__image-lg {
        left: 0rem;
        top: 0;
        filter: saturate(1) brightness(1);
    }

    .about__btn {
        display: none;
    }

    .about__right {
        margin: 0;
    }

    .about__right p {
        margin-bottom: 0.5rem;
    }

    /* ======= GALLERIES ======= */
    
    .gallery__head, 
    .children__head,
    .art__head,
    .wedding__head,
    .family__head,
    .animals__head,
    .landscape__head {
        margin-left: 2rem;
        gap: 10rem;
        width: 100%;
    }
    
    .gallery__p,
    .children__p,
    .art__p,
    .wedding__p,
    .family__p,
    .animals__p,
    .landscape__p {
        width: 95%;
        margin: 0 auto;
        margin-top: 2rem;
    }

    /* ============ CONTACT============== */

    .contact {
        padding: 50px 10px;
    }

    .contact .content {
        width: 85%;
        margin: 0;
        padding: 0;
    }

    .contactForm {
        width: 100%;
        align-items: center;
    }

    .form-container {
        flex-direction: column-reverse;
    }

    .form-container .contactInfo {
        width: 95%;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 1.5rem;
    }

    .form-container .contactInfo .box {
        padding: 1.5rem 1.5rem;
    }

}


@media screen and (max-width: 890px) {
    .header__frame {display: none;}

    .header__container {
        grid-template-columns: 15% 85%;
    }

    h1 {font-size: 2.6rem;}

    .gallery__empty,
    .children__empty,
    .art__empty,
    .wedding__empty, 
    .family__empty,
    .animals__empty,
    .landscape__empty {
        display: none;
    }

}


        /* for Phones*/

@media screen and (max-width: 600px) {
    .swiper__children,
    .swiper__wedding,
    .swiper__animals {
        display: flex;
    }

    .swiper-pagination-wedding, 
    .swiper-pagination-kids,
    .swiper-pagination-animals {
        justify-content: center;
    }

    .swiper-pagination-wedding .swiper-pagination-bullet {
        background: var(--color-light);
    }

    .swiper-pagination-animals .swiper-pagination-bullet {
        background: var(--color-bg-4);
    }

    .hidden-in-sd-kids,
    .hidden-in-sd-wedding,
    .hidden-in-sd-animals {
        display: none;
    }
    
    h1, h2 {
        line-height: 1.3;
    }

    header {
        padding-bottom: 6rem;
    }

    .header__container {
        grid-template-columns: 1fr;
        gap: 1rem;
        text-align: center;
        height: fit-content;
    }

    .header__empty {
        display: none;
    }

    .header__tag {
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .header__right p {
        width: 85%;
        margin: 2rem auto;
        color: var(--color-white);
    }

    .header_visit {
        margin: 0;
    }
    
    .header_contact-me {
        display: none;
    }

    /* ===== ABOUT =====*/

    .about__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .about__right p {
        width: 90%;
        margin: 1rem auto;
        text-align: center;
        color: var(--color-white);
    }

    .about__empty{
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .about__image-lg {
        width: 80%;
        margin: 0 auto;
    }

    /* ===== GALLERIES =====*/

    .gallery__head, 
    .children__head,
    .art__head,
    .wedding__head,
    .family__head,
    .animals__head,
    .landscape__head {
        color: var(--color-white);
    }

    .gallery__p,
    .children__p,
    .art__p,
    .wedding__p,
    .family__p,
    .animals__p,
    .landscape__p {
        width: 90%;
        text-align: center;
        color: var(--color-white);
    }

    #art, #children, #animals, #family, #landscape {
        margin-top: 0;
    }

    .boton {
        width: 100%;
    }

}


@media screen and (max-width: 510px) {
    .header__right h1{
        margin: 0 2rem;
    }
}

/* ======= EXTRA =======*/

@media only screen and (min-width: 1920px) {
    .header__container {
        margin-top: 15rem;
    }

    .swiper-wrapper1 {
        height: 50rem;
    }
    
    .swiper-slide1 {
        max-height: 50rem;
    }
    
    .swiper-slide1 img {
        height: 50rem;

    }
}